# Water Salinity vs. Temperature
This program explores the relationship between water salinity and temperature using a combination of regression, classification algorithms, and seaborn visualizations.

First, we have to import the necessary packages.

In [2]:
import numpy as np
import pandas as pd
import math
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import seaborn as sns

Now, we have to import and clean the data. Note that we are only exploring the relationship between temperature and salinity

In [5]:
df = pd.read_csv('bottle.csv')
df = df[['T_degC', 'Salnty']]
df.columns = ['Temp', 'Salnty']

df.head()

    Temp  Salnty
0  10.50  33.440
1  10.46  33.440
2  10.46  33.437
3  10.45  33.420
4  10.45  33.421